[Unit]
Description=Parrot
After=network.target
#StartLimitAction=reboot

[Service]
Type=simple
Restart=always
RestartSec=1
User=pi
WorkingDirectory=/home/pi/parrot
ExecStart=/bin/sh start.sh

[Install]
WantedBy=multi-user.target

