<!doctype html>
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta name="apple-mobile-web-app-capable" content="yes">

<title>Parrot of Pirates</title>

<style type="text/css">
body { -webkit-touch-callout: none !important; }
h1 { -webkit-user-select: none !important; }
a { -webkit-user-select: none !important; }
.box1 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
}
.box2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
	user-select: none;
}
.btn {
	background: lightblue;
	border-radius: 5px;
	padding: 45px 5px;
	font-size: xx-large;
	text-align: center;
}
</style>

<h1>The Parrot of Pirates</h1>
<div class='box1'>
<button class='btn' id="b1">Wall Button 1</button>
<button class='btn' id="b2">Wall Button 2</button>
<button class='btn' id="beak">Beak</button>
<button class='btn' id="wings_up">Wings Up</button>
<button class='btn' id="head">Head</button>
<button class='btn' id="wings_down">Wings Down</button>
<!-- <button class='btn' id="left_eye">Left Eye</button>
<button class='btn' id="right_eye">Right Eye</button> -->
</div>

<hr/>

<h1>Speech</h1>

<div class='box2'>
{% for audio_file in audio_files %} 
<button class='btn' id="{{ audio_file }}">{{ audio_file }}</button>
{% endfor %}
</div>

<hr/>

<a href="http://{{ local_ip }}:5000/">local ip</a>
<a href="/wifi">wifi status</a>
<a href="/bluetooth">bluetooth status</a>
<a href="javascript:toggleFullscreen()">toggle fullscreen</a>
<a href="/reboot">reboot</a>


<script>
function get(url) {
	var xmlhttp = new XMLHttpRequest();
	xmlhttp.open("GET", url, true);
	xmlhttp.send();
}

function onButtonDownEvent(event) {
	if (event.target.setCapture) {
		event.target.setCapture(true)
	}
	event.preventDefault()
	get('/button?s=down&b='+event.target.id)
}
function onButtonUpEvent(event) {
	get('/button?s=up&b='+event.target.id)
}
var btn_ids = ['b1', 'b2'];
for (var i = 0; i < btn_ids.length; i++) {
	var e = document.getElementById(btn_ids[i]);
	e.addEventListener("mousedown", onButtonDownEvent, false);
	e.addEventListener("mouseup", onButtonUpEvent, false);
	e.addEventListener("touchstart", onButtonDownEvent, false);
	e.addEventListener("touchend", onButtonUpEvent, false);
	e.addEventListener("touchcancel", onButtonUpEvent, false);
}

function onStartMotorEvent(event) {
	if (event.target.setCapture) {
		event.target.setCapture(true)
	}
	event.preventDefault()
	get('/motor?s=on&m=' + event.target.id)
}
function onStopMotorEvent(event) {
	get('/motor?s=off&m=' + event.target.id)
}
var motor_ids = ['beak', 'head', 'wings_up', 'wings_down']; // , 'left_eye', 'right_eye'
for (var i = 0; i < motor_ids.length; i++) {
	var e = document.getElementById(motor_ids[i]);
	e.addEventListener("mousedown", onStartMotorEvent, false);
	e.addEventListener("mouseup", onStopMotorEvent, false);
	e.addEventListener("touchstart", onStartMotorEvent, false);
	e.addEventListener("touchend", onStopMotorEvent, false);
	e.addEventListener("touchcancel", onStopMotorEvent, false);
}

function onAudio(event) {
	get('/say_file?file=' + event.target.id)
}

var audio_ids = [
{% for audio_file in audio_files %} 
	'{{ audio_file }}',
{% endfor %}
];
for (var i = 0; i < audio_ids.length; i++) {
	var e = document.getElementById(audio_ids[i]);
	e.addEventListener("mousedown", onAudio, false);
}

function toggleFullscreen() {
	var doc = window.document;
	var docEl = doc.documentElement;

	var requestFullScreen = docEl.requestFullscreen || docEl.mozRequestFullScreen || docEl.webkitRequestFullScreen || docEl.msRequestFullscreen;
	var cancelFullScreen = doc.exitFullscreen || doc.mozCancelFullScreen || doc.webkitExitFullscreen || doc.msExitFullscreen;

	if (!doc.fullscreenElement && !doc.mozFullScreenElement && !doc.webkitFullscreenElement && !doc.msFullscreenElement) {
		requestFullScreen.call(docEl);
	} else {
		cancelFullScreen.call(doc);
	}
}
</script>
